.initial-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background 0.3s, color 0.3s;
  }
  
  .light-theme {
    background-color: #fff;
    color: #000;
  }
  
  .dark-theme {
    background-color: #000;
    color: #fff;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  